.header{
	display: flex;
	align-items: center;
}
.logo{
	width: 133px;
	height: 31px;
	margin: 25px 535px 25px 95px;
}
.container{
	width: 1360px;
	height: 81px;
	margin: 0 auto;
}
ul{
	display: flex;
	width: 503px;
	height: 19px;
	justify-content: space-around;
	align-items: center;

}
.home{
	font-weight: bold;
    font-size: 15.74px;
    font-family: Raleway;
    color: #303134;
}
.about{
	font-weight: bold;
    font-size: 15.74px;
    font-family: Raleway;
    color: #303134;
}
.our{
	font-weight: bold;
    font-size: 15.74px;
    font-family: Raleway;
    color: #303134;
}
.tour{
	font-weight: bold;
    font-size: 15.74px;
    font-family: Raleway;
    color: #303134;
}

.bg-image{
	background-image: url(../images/cover.png);
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.p1{
    width: 587px;
    text-align: left;
    font-family: Arial;
    font-size: 78.74px;
    color: #fff;
}
.p2{
	width: 313px;
    line-height: 37px;
    margin-top: 36.3px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.parent{
	width: 1172px;
	height: 680px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 75.8px;
	margin-left: 94.5px;
}
.discover{
	width: 241px;
	height: 239px;
	flex-wrap: wrap;
	display: flex;
}
.discover-p1{
	width: 80px;
    white-space: nowrap;
    line-height: 37px;
    margin-top: -10px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 16px;
    color: #8D8D8D;
}
.discover-p2{
	width: 207px;
    white-space: nowrap;
    line-height: 37px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    color: #1A1A1B;
}
.discover-p3{
	width: 242px;
    height: 145px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
}
.flight{
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 59px;
}
.flight-p1{
	width: 151px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;
}
.flight-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.hotel{
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 32px;
}
.hotel-p1{
	width: 237px;
	height: 21px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;
}
.hotel-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.family{
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 30.9px;
}
.family-p1{
	/*width: 151px;
	height: 21px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;*/
    width: 193px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;*
}
.family-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.cruise{
	margin: 22.6px 31.9px 0 300px;
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
}
.cruise-p1{
	width: 119px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;
}
.cruise-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.fire{
	margin: 21.6px 31px 0 0;
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
}
.fire-p1{
	width: 119px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;
}
.fire-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.holidays{
	margin: 21.6px 0 0 0;
	width: 269px;
	height: 327px;
	display: flex;
	flex-wrap: wrap;
}
.holidays-p1{
	/*width: 119px;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;*/
    width: 200px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -2px;
    text-align: left;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22.4px;
}
.holidays-p2{
	width: 268px;
    height: 94px;
    line-height: 22px;
    margin-top: -3px;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
    color: #8D8D8D;
    margin-top: 8.8px;
}
.space{
	height: 93px;
}